---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

import type { CollectionEntry } from "astro:content";

const blogPosts: CollectionEntry<"blog">[] = await getCollection("blog");
---

<Layout title="Abderrazaq's blog">
    <section class="blog-entries" >
        {
            blogPosts.map((post) => {
                return (
                    <div class="flex flex-col gap-4 p-6 mx-auto top-10 max-w-2xl rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                        <h2 class="text-2xl font-bold text-green-800 hover:text-blue-600 transition-colors duration-200">
                            <a class="hover:underline" href={`/blog/${post.slug}`}>{post.data.title}</a>
                        </h2>
                        <time class="text-sm text-gray-500 font-medium" datetime={post.data.date.toISOString()}>
                            {post.data.date.toISOString()}
                        </time>
                       
                        <a class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 transition-colors duration-200 mt-2 group w-fit" href={`/blog/${post.slug}`} class="big-link" >read post
                            <svg 
                                xmlns="http://www.w3.org/2000/svg" 
                                class="h-4 w-4 ml-1 group-hover:translate-x-1 transition-transform duration-200" 
                                fill="none" 
                                viewBox="0 0 24 24" 
                                stroke="currentColor"
                            >  
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </a>
                    </div>
                )
            })
        }
    </section>
    <p class="feed">
        <a href="/rss.xml" class="link-text">
            <span role="img" aria-label="satellite dish">📡</span>
            <span class="link-text">Subscribe</span>
        </a>

    </p>
    <style>
        .post {
        margin: 0;
    }
    
    .post:not(:first-of-type) {
        margin-top: 3rem;
    }
    
    .post h2 {
        margin: 0;
    }
    
    .post h2 a {
        color: inherit;
        text-decoration: none;
    }
    
    .post time {
        color: var(--color-gray-700);
        display: block;
        font-size: 0.875rem;
        margin: 0.5rem 0 0;
    }
    
    .post p {
        margin: 0.5rem 0 0;
    }
    
    .post .big-link {
        font-size: 0.875rem;
    }
    
    .feed {
        margin: 4rem 0 0;
    }
    
    .feed a {
        color: var(--color-gray-600);
        text-decoration: none;
    }
    
    .link-text {
        text-decoration: underline;
    }
    .blog-entries{

    }
    
    </style>
</Layout>
